<nav style="background-color: green; height: 50px; display: flex; align-items: center; justify-content: space-between; padding: 0 20px;">
  <div>
    <%= link_to 'Home', '#', style: 'color: white; text-decoration: none; margin-right: 20px;' %>
    <%= link_to 'Help', '#', style: 'color: white; text-decoration: none; margin-right: 20px;' %>
  </div>
  <div>
    <%= link_to 'Login', '#', style: 'color: white; text-decoration: none; margin-right: 20px;' %>
    <%= link_to 'Sign Up', '#', style: 'color: white; text-decoration: none;' %>
  </div>
</nav>
